<div class="content-i">
  <div class="content-box">
    <div class="pipelines-w">
      <div class="text-primary text-center mt-4 bg-white h-100 p-4 d-flex justify-content-center align-items-center" *ngIf="isLoading">
        <i class="fa fa-spinner fa-spin" style="font-size:40px"></i>
      </div>
      <div class="record" *ngIf="!isLoading">
        <div class="column">
          <div class="pipeline white lined-warning">
            <div class="pipeline-header">
              <h5 class="pipeline-name">Planning</h5>
              <div class="pipeline-header-numbers">
                
                <div class="pipeline-count">{{planCount}} Project(s)</div>
              </div>
             
            </div>
            <div class="pipeline-body" dragula="PROJECT" data-target="Planing">
              <div class="pipeline-item" *ngFor="let project of planingProjectList; let i = index">              
                <div class="pi-body" [id]="project.id">
                  <div class="avatar"><img alt="" [src]="project.clientLogo"></div>
                  <div class="pi-info">
                    <div class="h6 pi-name">{{project.projectName}}</div>
                    <div class="pi-sub">{{project.clientName}}</div>
                  </div>
                </div>             
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="pipeline white lined-danger">
            <div class="pipeline-header">
              <h5 class="pipeline-name">CAD Drawing</h5>
              <div class="pipeline-header-numbers">                
                <div class="pipeline-count">{{cadCount}} Project(s)</div>
              </div>            
            </div>
            <div class="pipeline-body" dragula="PROJECT" data-target="CAD Drawing">
              <div class="pipeline-item" *ngFor="let project of cadProjectList; let i = index">               
                <div class="pi-body" [id]="project.id">
                  <div class="avatar"><img alt="" [src]="project.clientLogo"></div>
                  <div class="pi-info">
                    <div class="h6 pi-name">{{project.projectName}}</div>
                    <div class="pi-sub">{{project.clientName}}</div>
                  </div>
                </div>             
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="pipeline white lined-success">
            <div class="pipeline-header">
              <h5 class="pipeline-name">3D Modeling</h5>
              <div class="pipeline-header-numbers">
                
                <div class="pipeline-count">{{modelCount}} Project(s)</div>
              </div>             
            </div>
            <div class="pipeline-body" dragula="PROJECT" data-target="3D Modeling">
              <div class="pipeline-item" *ngFor="let project of modelProjectList; let i = index">              
                <div class="pi-body" [id]="project.id">
                  <div class="avatar"><img alt="" [src]="project.clientLogo"></div>
                  <div class="pi-info">
                    <div class="h6 pi-name">{{project.projectName}}</div>
                    <div class="pi-sub">{{project.clientName}}</div>
                  </div>
                </div>             
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="pipeline white lined-primary">
            <div class="pipeline-header">
              <h5 class="pipeline-name">Final Rendering</h5>
              <div class="pipeline-header-numbers">
                
                <div class="pipeline-count">{{renderCount}} Project(s)</div>
              </div>           
            </div>
            <div class="pipeline-body" dragula="PROJECT" data-target="Final Rendering">
              <div class="pipeline-item" *ngFor="let project of renderProjectList; let i = index">               
                <div class="pi-body" [id]="project.id">
                  <div class="avatar"><img alt="" [src]="project.clientLogo"></div>
                  <div class="pi-info">
                    <div class="h6 pi-name">{{project.projectName}}</div>
                    <div class="pi-sub">{{project.clientName}}</div>
                  </div>
                </div>             
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="pipeline white lined-success">
            <div class="pipeline-header">
              <h5 class="pipeline-name">Completed</h5>
              <div class="pipeline-header-numbers">
                
                <div class="pipeline-count">{{completeCount}} Project(s)</div>
              </div>              
            </div>
            <div class="pipeline-body" dragula="PROJECT" data-target="Completed">
              <div class="pipeline-item" *ngFor="let project of completeProjectList; let i = index">               
                <div class="pi-body" [id]="project.id">
                  <div class="avatar"><img alt="" [src]="project.clientLogo"></div>
                  <div class="pi-info">
                    <div class="h6 pi-name">{{project.projectName}}</div>
                    <div class="pi-sub">{{project.clientName}}</div>
                  </div>
                </div>             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
