:host {
    flex-grow: 1;
}

.content-i {
    display: block !important;
    height: 100%;

    .content-box {
        height: 100%;

        .pipelines-w {
            height: 100%;
            position: relative;

            .record { 
                &.columns-container{
                    margin-bottom: 8px;
                    overflow-x: auto;
                    overflow-y: hidden;
                    white-space: nowrap;
                    display: flex;
                    gap: 20px;
                    .column {
                        box-sizing: border-box;
                        display: inline-block;
                        height: 100%;
                        vertical-align: top;
                        white-space: nowrap;
                        min-width: calc((100vw - 100px - 260px - 5rem) / 5);
                        flex-grow: 1;
                        .pipeline-body{
                            min-height: 100px;
                            .pi-info{
                                overflow: hidden;
                                .pi-name, .pi-sub{
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                    .scroll-area{
                        display: none;
                        width: 100vw;
                        height: 10vh;
                        opacity: 0;
                        position: fixed;
                        z-index: 10;
                        &.scroll-up{
                            top: 0px;
                        }
                        &.scroll-down{
                            bottom: 0px;
                            &:hover{
                                display: none;
                            }
                        }
                    }
                }
            }
            @media(max-width: 1023px){  
                .record { 
                    &.columns-container{
                        flex-direction: column;
                        .column{
                            .pipeline-item{
                                z-index: 20;
                                .pipeline-body{
                                    min-height: 50px;
                                }
                            }
                        }
                        .scroll-area{
                            display: block;
                        }
                    }
                    margin-bottom: 10vh;
                }
            }
        }
    }
}