<div class="content-w">
	<div class="content-i">
		<div class="content-box">
			<div class="element-wrapper compact pt-4">
				<div *ngIf="!isHide" class="element-actions"><a class="btn btn-primary btn-sm" href="#" [routerLink]="['/projects/project-list']" [state]="{data: actions.AddNewProject}" routerLinkActive="router-link-active"
					routerLinkActiveOptions="{exact:true}"><i
						class="os-icon os-icon-ui-22"></i><span>Add Project</span></a>
					<a class="btn btn-success btn-sm"
					href="#" [routerLink]="['/users']" [state]="{data: actions.AddNewClient}" routerLinkActive="router-link-active"
					routerLinkActiveOptions="{exact:true}"
					><i class="os-icon os-icon-grid-10"></i><span>Add Client</span></a>
				</div>
				<h6 class="element-header">Project Overview</h6>
				<div class="element-box-tp">
					<div class="row">
						<div [ngClass]="{ 'col-lg-9' : !isHide ,'col-lg-7' : isHide  }" class="col-xxl-6">
							<div class="element-content">
								<div class="row">
									<div [ngClass]="{ 'col-sm-3' : !isHide ,'col-sm-4' : isHide  }" class="col-xxxl-3">
										<a class="element-box el-tablo" href="#">
											<div class="label">Total Projects</div>
											<div class="value">{{dashboard?.totalProjectCount}}</div>
										</a>
									</div>
									<div [ngClass]="{ 'col-sm-3' : !isHide ,'col-sm-4' : isHide  }" class="col-xxxl-3">
										<a class="element-box el-tablo" href="#">
											<div class="label">In Progress</div>
											<div class="value">{{dashboard?.inProgressProjectCount}}</div>
										</a>
									</div>
									<div [ngClass]="{ 'col-sm-3' : !isHide ,'col-sm-4' : isHide  }" class="col-xxxl-3">
										<a class="element-box el-tablo" href="#">
											<div class="label">Completed</div>
											<div class="value">{{dashboard?.completedProjectCount}}</div>
										</a>
									</div>
									<div *ngIf="!isHide" [ngClass]="{ 'col-sm-3' : !isHide ,'col-sm-4' : isHide  }" class="col-xxxl-3">
										<a class="element-box el-tablo" href="#">
											<div class="label">Total Designer</div>
											<div class="value">{{dashboard?.totalDesigner}}</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div [ngClass]="{ 'col-lg-3' : !isHide ,'col-lg-5' : isHide  }" class="col-xxl-6">
							<div class="alert alert-warning borderless">
								<p>Earn discounts for completing multiple projects with us.</p>
								<div class="alert-btn"><a class="btn btn-white-gold" href="mailto:contact@scolptio.com"><i
									class="os-icon os-icon-ui-92"></i><span>Find Out How</span></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="element-wrapper">
				<h6 class="element-header">Recent Project Status</h6>
				<div class="element-box-tp">
					<div class="table-responsive">
						<table class="table table-padded">
							<thead>
								<tr>
									<th>Date</th>
									<th>Deadline</th>
									<th>Project</th>
									<th class="text-center">Status</th>
									<th class="text-right">Amount</th>
								</tr>
							</thead>
							<tbody *ngIf="dashboard?.recentProjects?.length">
								<tr *ngFor="let project of dashboard?.recentProjects">
									<td class="nowrap"><span> {{project.startDate | date:'short'}} </span></td>
									<td><span>{{project.deadline | date:'short'}}</span></td>
									<td class="cell-with-media"><a [routerLink]="['/projects/project-overview', project.id]">{{project.projectName}}</a></td>
									<td class="text-center"><a class="badge badge-success" href=""> {{project.status}} </a></td>
									<td class="text-right bolder nowrap"><span class="text-success">{{project.cost | currency}}</span></td>
								</tr>
							</tbody>
							<tbody *ngIf="!dashboard?.recentProjects?.length">
								<td colspan="5" class="text-center">
									No data
								</td>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>