<div class="property-single" style="margin-top: 10px; margin-left: 5px;">
    <div class="property-info-w">

      <div class="property-info-main" style="padding-top: 10px; padding-bottom: 10px;">
          <!--Start county planner-->
          <div class="property-section">
            <div class="property-section-header">County Planner<div class="filter-toggle"><i
                  class="os-icon-minus os-icon"></i></div>
            </div>
            <div class="property-section-body" style="padding-top: 10px;">
              <div class="element-box" style="padding-top: 0px;padding-left: 5px;padding-right: 5px;">

                <form>
                  <div class="content-i">
                    <div class="content-box">
                      <div class="full-chat-w">
                        <div class="full-chat-i">
                          <div class="full-chat-middle">
                            <div class="chat-head">
                              <!-- <div>                         
                         <label class="col-form-label col-sm-4" for="">To Email</label>
                            <div class="col-sm-8"><input class="form-control" placeholder="Enter email" type="email">
                            </div>
                          </div> -->
                              <form>
                                <div class="form-desc"><i class="os-icon os-icon-alert-circle mr-2"></i>Collaborate
                                  directly with county office by sending and receiving emails right within
                                  this portal.
                                </div>

                                <div class="aec-reply">
                                  <div class="reply-header">
                                    <div class="form-group row"><label class="col-form-label col-sm-4" for=""> To
                                        Email</label>
                                      <div class="col-sm-8"><input class="form-control" placeholder="Enter county email"
                                          type="email">
                                      </div>
                                    </div>
                                    <div class="form-group row"><label class="col-form-label col-sm-4" for=""> Your
                                        Email</label>
                                      <div class="col-sm-8"><input class="form-control" placeholder="Enter your email"
                                          type="email">
                                      </div>
                                    </div>
                                    <div class="form-group row"><label class="col-form-label col-sm-4" for="">Subject
                                      </label>
                                      <div class="col-sm-8"><input class="form-control" placeholder="Subject"
                                          type="subject">
                                      </div>
                                    </div>
                                    <ckeditor [editor]="Editor" data="<p>Start typing here...</p>"></ckeditor>
                                  </div>
                               
                                   
                                  <div class="buttons-w">
                                    <div class="actions-left"><a class="btn btn-link" href="#"><i
                                          class="os-icon os-icon-ui-51"></i><span>Add Attachment</span></a></div>
                                    <div class="actions-right"><a class="btn btn-success" href="#"><i
                                          class="os-icon os-icon-mail-18"></i><span>Send Message</span></a></div>
                                  </div>
                                </div>

                                <div class="ae-content" style="padding-left: 5px; padding-right: 5px;">
                                  <div class="older-pack">
                                    <div class="aec-full-message-w">
                                      <div class="aec-full-message">
                                        <div class="message-head">
                                          <div class="user-w with-status status-green">
                                            <div class="user-avatar-w">
                                              <div class="user-avatar"><img alt="" src="assets/img/avatar1.jpg"></div>
                                            </div>
                                            <div class="user-name">
                                              <h6 class="user-title">Bryan Kinskey</h6>
                                              <div class="user-role">Registration Question<span>&lt; bryan@solutions.com
                                                  &gt;</span></div>
                                            </div>
                                          </div>
                                          <div class="message-info">February 7th, 2017<br>2:27pm</div>
                                        </div>
                                        <div class="message-content">Greetings Bryan,<br><br>Classes of there been
                                          temple. Rung quite head the may devious usual. A century thing if but support
                                          turn start he a subject if what live was become write that suspicion case
                                          fundamentals office his her. Earnestly a the and on a phase samples examples,
                                          tone.<br><br>Regards,<br>Mike Mayers</div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="aec-full-message-w show-pack">
                                    <div class="more-messages">7 Earlier Messages</div>
                                    <div class="aec-full-message">
                                      <div class="message-head">
                                        <div class="user-w with-status status-green">
                                          <div class="user-avatar-w">
                                            <div class="user-avatar"><img alt="" src="assets/img/avatar1.jpg"></div>
                                          </div>
                                          <div class="user-name">
                                            <h6 class="user-title">John Mayers</h6>
                                            <div class="user-role">Account Manager<span>&lt; john@solutions.com
                                                &gt;</span></div>
                                          </div>
                                        </div>
                                        <div class="message-info">January 12th, 2017<br>1:24pm</div>
                                      </div>
                                      <div class="message-content">Hi Mike,<br><br>When the equation, first to ability
                                        the forwards, the a but travelling, outlines sentinels bad expand to goodness.
                                        Behind if have at the even I and how work, completely deference who boss
                                        actually designer; Monstrous with geared from far and these, morals, phase rome;
                                        Class. Called get amidst of next.<br><br>Regards,<br>Mike Mayers<div
                                          class="message-attachments">
                                          <div class="attachments-heading">Attachments</div>
                                          <div class="attachments-docs"><a href="#"><i
                                                class="os-icon os-icon-ui-51"></i><span>Excel Document</span></a><a
                                              href="#"><i class="os-icon os-icon-documents-07"></i><span>Image
                                                File</span></a></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>                              
                                </div>
                              </form>
                            </div>                          
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </form>
              </div>


            </div>
          </div>
          <!--end county planner-->

        
      </div>

    </div>

  </div>