<div class="property-single" style="margin-top: 10px; margin-left: 5px; height: 99%;">
	<div class="property-info-w" style="height: 100%;">
		<div class="property-info-main" style="padding-top: 10px; padding-right: 0px;">
			<!--Start Images-->
			<div class="property-section">
				<div class="property-section-header d-flex justify-content-between">
					{{header}}
					<div class="filter-toggle">
						<div class="dropdown pull-right">
							<button type="button" class="btn btn-light btn-auto" id="dropdownMenuButton" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
									<path
										d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
								</svg>
							</button>
							<div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" style="cursor: pointer;" (click)="onMultiSelect(false)">{{isMultiSelect === false?'Select' : 'Cancel Select'}}</a>
								<a class="dropdown-item" style="cursor: pointer;" (click)="onMultiSelect(true)">Select All</a>
								<a appPermission [module]="module" action="delete" class="dropdown-item" style="cursor: pointer;" (click)="DeleteAll()">Delete</a>
								<a *ngIf="isHide" class="dropdown-item" style="cursor: pointer;" (click)="setImageType(1)">Mark as internal</a>
								<a *ngIf="isHide" class="dropdown-item" style="cursor: pointer;" (click)="setImageType(2)">Mark as external</a>
							</div>
						</div>
					</div>
					<div appPermission [module]="module" action="create" class="image-button-container">
						<!-- <app-s3-image-upload (ImageUploadSuccessEvent)="ImageUploadSuccess($event)"></app-s3-image-upload> -->
						<button type="button" class="btn btn-primary d-flex align-items-center" data-toggle="modal"
							data-target="#uploadMultiImage">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload"
								viewBox="0 0 16 16">
								<path
									d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
								<path
									d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
							</svg>
							<span class="pl-2">Upload Images</span>
						</button>
					</div>
				</div>
				<div class="property-section-body" *ngIf="isLoading">
					<i class="fa fa-spinner fa-spin" style="font-size:40px"></i>
				</div>
				<div class="property-section-body" *ngIf="!isLoading">
					<div class="property-details">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="form-control-label">
										Filter by Tag
									</label>
                    				<ng-select [multiple]="true"
                    					[items]="tagOptions" 
                      					[(ngModel)]="selectedTags">
                    				</ng-select>
								</div>
							</div>
						</div>
						<div class="row mt-1">
							<div class="col-sm-4 mb-4 flex-column" *ngFor="let item of items; let i = index" [ngClass]="['image-grid-container', filtered(item) ? '' : 'hidden']">
									<input type="checkbox" id="imageCheckbox_{{i}}" [hidden]="!isMultiSelect" />
									<label for="imageCheckbox_{{i}}" *ngIf="isMultiSelect"></label>
									<img [src]="item.data.src" style="cursor: pointer; width: 280px; height: 200px; object-fit: cover;" (click)="openImage(i)">
									<button class="btn btn-primary" style="width: 280px;" (click)="openEditTags(editTags, item)">Edit Tags</button>
							</div>
						  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Multi image upload Modal -->
<div class="modal fade" id="uploadMultiImage" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="images">
		<div class="modal-content">
			<div class="modal-header border-0">
				<h5 class="modal-title">Upload Images</h5>
				<button type="button" class="close" aria-label="Close" (click)="closeEditTags()">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<app-s3-multi-image-upload (ImageUploadSuccessEvent)="ImageUploadSuccess($event)">
			</app-s3-multi-image-upload>
		</div>
	</div>
</div>

<ng-template #editTags>
	<div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">
                <div class="d-flex align-items-center">
                    <div class="os-icon os-icon-tag"></div>
                    <div class="ml-1 pl-1">Edit Tags</div>
                </div>
            </h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeEditTags()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="property-section">

                <div class="property-section-body" style="padding-top: 10px;">
                    <ng-select [multiple]="true"
                    	[items]="editTagsForm.tagOptions" 
                      	[(ngModel)]="editTagsForm.tags">
                    </ng-select>
                </div>
            </div>
        </div>
        <div>
            <!-- <p class=" ml-4 text-danger"><strong>{{errorMsg}}</strong></p> -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary d-flex align-items-center px-3" data-dismiss="modal"
                aria-label="Close" (click)="closeEditTags()">
                <div class="pl-1">Cancel</div>
            </button>
            <button type="button" class="btn btn-primary d-flex align-items-center px-3" (click)="saveTags()">
                <div class="pl-1">Save</div>
            </button>
        </div>
	</div>
</ng-template>