@charset "UTF-8";
.property-section{
    .property-section-header{
        height: 72px;
        .filter-toggle{
            margin-bottom: 2px;
            background-color: rgba(0, 0, 0, 0.02);
            &:hover{
                background-color: rgba(0, 0, 0, 0.02);
            }
            button {
                padding: 0;
            }
            z-index: auto;
        }
    }
    .property-section-body{
      .image-grid-container{
        display: flex;
        &.hidden{
          display: none;
        }
        position: relative;
        .image-actions-container{
          position: absolute;
          top: 0px;
          left: 10px;
          width: 280px;
          height: 200px;
          opacity: 0;
          &:hover{
            opacity: 0.5;
            background: white;
          }
          button{
            width: 50%;
            &:hover{
              background-color: #047bf8;
              color: white
            }
          }
        }
      }
    }
}

input[type=checkbox] {
  display: none;
}

label {
  display: block;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 200px;
  width: 200px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

input[type=checkbox]:checked + label:before {
  content: "✓";
  background-color: #047bf8;
  transform: scale(1);
}

input[type=checkbox]:not(:checked) + label:before {
  content: "✓";
  color: white;
  border-color: gray;
  background-color: lightgrey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}