<!-- listing -->
<div class="px-3 listing">
  <div class="pt-3 px-3">
    <!-- ads -->
    <div class="rounded-xl mb-3 get__app" style="margin-top: 15px;">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col-sm-4 col-sm-5 col-sm-4">
          <div class="d-flex justify-content-between align-items-center">
            <img src="../../../../assets/banner_img/8.png" class="get__app__img">
          </div>
        </div>
        <!-- col -->
        <!-- col -->
        <div class="col-md-4 col-sm-5 col-sm-4 text-center-md">
          <div class="py-4">
            <h5 class="text-purple font-weight-bolder mb-1">Manage your sales website</h5>
            <p class="text-primary-dark mb-1">
              Automatically create and manage your own sales website all within your portal.
            </p>
            <button class="btn btn-sm btn-outline-purple rounded-pill">Learn more</button>
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
    </div>
    <!-- ads -->
    <!-- head section -->
    <div class="p-3 bg-white border-primary-light rounded-xl-top">
      <!-- title -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h6 class="m-0">Sales Websites</h6>
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-sm btn-orange" (click)="add()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
            <div class="pl-1">New Website</div>
          </button>
        </div>
      </div>
      <!-- title -->
      <!-- advance filter section -->
      <div class="row advance-filter">
        <div class="col-md-12 col-lg-12 col-xl-9 order-md-2 order-lg-2 order-xl-1">
          <!-- flex -->
          <div class="row no-gutters d-flex align-items-center">
            <div class="col-md-12 col-lg-7 col-xl-6 d-flex mb-1">
              <!-- search -->
              <div class="mx-3 w-100">
                <div class="input-group border rounded-xl">
                  <div class="input-group-prepend">
                    <span class="input-group-text btn-auto border-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-search">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                      </svg>
                    </span>
                  </div>
                  <input type="search" id="filterSearch" class="form-control border-0"
                    placeholder="Search website address" (input)="onSearchList($event.target.value)" [(ngModel)]="searchKey">
                </div>
              </div>
              <!-- search -->
            </div>
            <div class="col-md-12 col-lg-5 col-xl-6 d-flex mb-1">
              <!-- advance filter -->
              <div class="dropdown ml-3 border rounded-xl">
                <button type="button" class="btn btn-light btn-auto d-flex justify-content-center"
                  data-toggle="dropdown">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-funnel" viewBox="0 0 16 16">
                    <path
                      d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                  </svg>
                </button>
                <div class="dropdown-menu" style="min-width: 14rem;">
                  <!-- card -->
                  <div>
                    <div class="px-3 py-2">
                      Filter Websites
                      <!-- Toggle Button -->
                      <a class="close" href="#" data-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-x" viewBox="0 0 16 16">
                          <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                      </a>
                      <!-- End Toggle Button -->
                    </div>

                    <div class="p-3">
                        <div class="d-flex flex-column">
                          <div class="mb-2">
                            <div class="small mb-1" style="padding-top: 5px;">Status<select class="form-control"
                              style="padding-top: 6px; margin-top: 5px;" [(ngModel)]="searchStatus" (change)="onChange($event.target.value)">
                              <option value="">Select</option>
                              <option value="Draft">Draft</option>
                              <option value="Published">Published</option>
                              <option value="InActive">InActive</option>

                            </select>
                          </div>
                            <!-- End search -->
                          </div>
                        </div>
                        <!-- End Row -->
                        <a class="btn btn-block btn-primary mt-4"(click)="actionFilter()">Apply</a>
                    </div>
                  </div>
                  <!-- card -->
                </div>
              </div>
              <div *ngIf="visibleFilter">
              <a class="btn" (click)="clearFilter()">Clear Filter</a>
            </div>
              <!-- advance filter -->
            </div>
          </div>
          <!-- flex -->
        </div>
      </div>
    </div>
    <!-- head section -->
    <!-- table -->

    <table class="table px-3">
      <thead class="thead bg-white">
        <tr>
          <th width="50">Logo</th>
          <th width="230">Website Name</th>
          <th width="250">Website Addresss</th>
          <th width="200">Date Created</th>
          <th width="200">Created By</th>
          <!-- <th width="100">Type</th>  -->
          <th width="100">Status</th>
          <th class="text-right pr-3">Action</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr *ngFor="let item of salesList">
          <td class="cell-with-media"><img alt="" [src]="item?.websiteLogo" style="height: 25px;"></td>

          <td data-label="webname">
            <div class="d-flex flex-column">
              <span class="text-dark">{{item?.websiteName}}</span>
            </div>
          </td>
          <td data-label="webaddress">
            <div class="d-flex flex-column">
              <span class="text-dark">{{item?.webAddress}}</span>
            </div>
          </td>
          <td data-label="datecreated">
            <div class="d-flex flex-column">
              <span class="text-dark">{{item?.createdOn | date : 'MM/dd/yyyy'}}</span>
            </div>
          </td>
          <td data-label="County">
            <div class="d-flex flex-column">
              <span class="text-dark">{{item?.CreatedBy}}</span>
            </div>
          </td>
          <!-- <td data-label="County">
                <div class="d-flex flex-column">
                  <span class="text-dark">Standard</span>
                </div>
              </td>       -->
          <td class="nowrap"><span class="status-pill smaller green"
              *ngIf="item?.status == 1"></span><span>{{item?.status}}</span>
          </td>
          <td data-label="Action">
            <div class="dropdown">
              <button type="button" class="btn btn-light btn-auto" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                  <path
                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </svg>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

                <a class="dropdown-item" [routerLink]="['/sales-website/edit',item.id]">Edit</a>
                <a class="dropdown-item" href="javascript:void(0);" (click)="openModal(openDelete,item.id,item.websiteName)" >Delete</a>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="!isLoading && salesList && salesList.length < 1">
          <td style="text-align: center !important;" colspan="7"><strong>No records found</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- table -->
    <!-- pagination -->
    <app-pagination [pageNumber]="pageNumber" [total]="total" [pageSize]="pageSize"
        (pageChangeEvent)="onPaginationChange($event)"></app-pagination>
    <!-- pagination -->
  </div>
</div>
<!-- listing -->

<!-- start newWebsite modal -->
<div class="modal fade modal-center" id="newWebsite" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">
          <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
            <div class="pl-1">Create New Website </div>
          </div>
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form -->
        <div class="property-section">

          <div class="property-section-body" style="padding-top: 10px;">
            <div class="element-box" style="padding-top: 0px;">
              <form>
                <legend><span>Basic Information</span></legend>
                <div class="form-group col-md-12"><label for="">Website Logo</label>
                  <div class="d-flex align-items-center"><img src="../../../assets/img/weblogo.png" alt="avatar"
                      class="shadow avatar"><label for="userUpload" class="ml-4 mb-0">
                      <div class="form-control form-control-sm">Change</div>
                    </label><button type="button" class="form-control form-control-sm border-0 ml-3"
                      style="width: auto; background-color: transparent;">Remove</button></div><input type="file"
                    name="" id="userUpload" placeholder="" required="" class="form-control d-none">
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group"><label for="">Website Status</label><select class="form-control">
                        <option>Draft</option>
                        <option>Published</option>
                        <option>InActive</option>
                      </select></div>
                  </div>
                  <div class="col-sm-8"><label for=""> Website Name</label><input class="form-control"
                      placeholder="Enter name" type="text"></div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group"><label for="">Website Address</label> (Want to use a custom domain? <a
                        href="#">Click here</a>)
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0"><input class="form-control" placeholder="Company"
                          value="">
                        <div class="input-group-append">
                          <div class="input-group-text">.propertyhatch.com</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>


          </div>
        </div>
        <!-- form -->
      </div>
      <div class="modal-footer">
        <a routerLink="/sales-website/add"><button type="button"
            class="btn btn-sm btn-orange d-flex align-items-center px-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-save"
              viewBox="0 0 16 16">
              <path
                d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
            </svg>
            <div class="pl-1">Customize Webiste</div>
          </button></a>
      </div>
    </div>
  </div>
</div>
<!-- end newWebsite modal -->

<ng-template #openDelete>
  <app-delete [modalRef]="modalRef" [deleteId]="deleteId" (id)="deleteRecord($event)" [text]="'Are you sure you want to delete ' + selectedWebsiteName + ' ?'" [header]="'Sales Website'">

  </app-delete>
</ng-template>