<!-- property search -->
<!-- .row -->
<div class="row no-gutters">
  <!-- col -->
  <div class="col-md-3 col-lg-3 col-xl-3" style="padding-right: 0;">
    <!-- filter -->
    <div class="rentals-list-w">
      <div class="filter-side">
        <div class="filters-header">
          <h4>
            Customize Website
          </h4>

          <div class="reset-filters">
            <i class="os-icon-close os-icon"></i><span>Reset</span>
          </div>
        </div>

        <div class="filter-w">
          <div class="filter-toggle">
            <i class="os-icon-minus os-icon"></i>
          </div>
          <h6 class="filter-header">
            Website Info
          </h6>
          <div class="col-sm-12">
            <div class="form-group"><label for="">Website Logo</label>
              <div class="d-flex align-items-center"><img src="../../../assets/img/weblogo.png" alt="avatar"
                  class="shadow avatar"><label for="userUpload" class="ml-4 mb-0">
                  <div class="form-control form-control-sm">Change</div>
                </label><button type="button" class="form-control form-control-sm border-0 ml-3"
                  style="width: auto; background-color: transparent;">Remove</button></div><input type="file" name=""
                id="userUpload" placeholder="" required="" class="form-control d-none">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group"><label for="">Website Status</label><select class="form-control">
                <option>Select</option>
                <option>Draft</option>
                <option>Published</option>
                <option>InActive</option>
              </select></div>
          </div>
          <div class="col-sm-12">
            <div class="form-group"><label for=""> Website Name</label><input class="form-control"
                placeholder="Enter name" type="text"></div>
          </div>
          <div class="col-sm-12">
            <div class="form-group"><label for="">Website Address</label> (Want to use a custom domain? <a
                href="#">Click here</a>)
              <div class="input-group mb-2 mr-sm-2 mb-sm-0"><input class="form-control" placeholder="company" value="">
                <div class="input-group-append">
                  <div class="input-group-text">.propertyhatch.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-w">
          <div class="filter-toggle">
            <i class="os-icon-minus os-icon"></i>
          </div>
          <h6 class="filter-header">
            Custom Domain
          </h6>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for=""> DNS Record Type</label><select class="form-control">
                    <option>Select</option>
                    <option>A</option>
                    <option>CNAME</option>
                  </select></div>
              </div>
              <div class="col-sm-6">
                <div class="form-group"><label for="">Record Value</label><input class="form-control"
                    placeholder="Enter value" type="text"></div>
              </div>
            </div>

          </div>
        </div>
        <div class="filter-w">
          <div class="filter-toggle">
            <i class="os-icon-minus os-icon"></i>
          </div>
          <h6 class="filter-header">
            Home Page
          </h6>
          <div class="filter-body" style="padding-left: 5px; padding-right: 5px;">
            <div class="col-sm-12">
              <div class="form-group"><label for="">Navbar Color</label><select class="form-control">
                  <option>Select</option>
                  <option>Default</option>
                  <option>White</option>
                  <option>Transparent</option>
                </select></div>
            </div>
            <div class="col-sm-12">
              <div class="form-group"><label for="">Header Text 1</label><input class="form-control"
                  placeholder="Enter text" type="text"></div>
            </div>
            <div class="col-sm-12">
              <div class="form-group"><label for="">Header Text 2</label><input class="form-control"
                  placeholder="Enter text" type="text"></div>
            </div>
            <div class="col-sm-12">
              <div class="form-group"><label for="">Header Text 3</label><input class="form-control"
                  placeholder="Enter text" type="text"></div>
            </div>
            <div class="col-sm-12">
              <div class="form-group"><label for="">Inventory Header</label><input class="form-control"
                  placeholder="Enter text" type="text"></div>
            </div>
            <div class="col-sm-12">
              <div class="form-group"><label for="">Inventory Sub Heading</label><input class="form-control"
                  placeholder="Enter text" type="text"></div>
            </div>
            <div class="col-sm-12">
              <div class="form-group"><label for="">Footer Text</label><input class="form-control"
                  placeholder="Enter text" type="text"></div>
            </div>
          </div>
        </div>
        <div class="filter-w">
          <div class="filter-toggle">
            <i class="os-icon-minus os-icon"></i>
          </div>
          <h6 class="filter-header">
            Inventory Page
          </h6>
          <div class="filter-body" style="padding-left: 5px; padding-right: 5px;">
            <div class="col-sm-12">
              <div class="form-group"><label for="">Banner Photo</label>
                <div class="d-flex align-items-center"><img src="../../../assets/img/weblogo.png" alt="avatar"
                    class="shadow avatar"><label for="userUpload" class="ml-4 mb-0">
                    <div class="form-control form-control-sm">Change</div>
                  </label><button type="button" class="form-control form-control-sm border-0 ml-3"
                    style="width: auto; background-color: transparent;">Remove</button></div><input type="file" name=""
                  id="userUpload" placeholder="" required="" class="form-control d-none">
              </div>
            </div>
          </div>
        </div>
        <div class="filter-w">
          <div class="filter-toggle">
            <i class="os-icon-minus os-icon"></i>
          </div>
          <h6 class="filter-header">
            About Page
          </h6>
          <div class="filter-body" style="padding-left: 5px; padding-right: 5px;">
            <div class="col-sm-12">
              <div class="form-group"><label for="">Banner Photo</label>
                <div class="d-flex align-items-center"><img src="../../../assets/img/weblogo.png" alt="avatar"
                    class="shadow avatar"><label for="userUpload" class="ml-4 mb-0">
                    <div class="form-control form-control-sm">Change</div>
                  </label><button type="button" class="form-control form-control-sm border-0 ml-3"
                    style="width: auto; background-color: transparent;">Remove</button></div><input type="file" name=""
                  id="userUpload" placeholder="" required="" class="form-control d-none">
              </div>
            </div>
          </div>
        </div>
        <div class="filter-w">
          <div class="filter-toggle">
            <i class="os-icon-minus os-icon"></i>
          </div>
          <h6 class="filter-header">
            Contact Us Page
          </h6>
          <div class="filter-body" style="padding-left: 5px; padding-right: 5px;">
            <div class="col-sm-12">
              <div class="form-group"><label for="">Company Address</label><input class="form-control"
                  placeholder="Enter address" type="text"></div>
            </div>
            <div class="col-sm-12">
              <div class="form-group"><label for="">Telephone 1</label><input class="form-control"
                  placeholder="Enter telephone" type="text"></div>
            </div>
            <div class="col-sm-12">
              <div class="form-group"><label for="">Telephone 2</label><input class="form-control"
                  placeholder="Enter telephone" type="text"></div>
            </div>
            <div class="col-sm-12">
              <div class="form-group"><label for="">Contact Email</label><input class="form-control"
                  placeholder="Enter email" type="text"></div>
            </div>


          </div>
        </div>
        <div class="filter-w">
          <div class="filter-toggle">
            <i class="os-icon-minus os-icon"></i>
          </div>
          <h6 class="filter-header">
            Terms & Conditions Page
          </h6>
          <div class="filter-body" style="padding-left: 5px; padding-right: 5px;">
            <div class="col-sm-12">
              <!-- <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="Terms of service">
                    <h3>Editor</h3>
                  </label>
                  <quill-editor formControlName="tos"></quill-editor>
                </div>
              </form>
            </div> -->

          </div>
        </div>
        <div class="filter-w">
          <div class="filter-toggle">
            <i class="os-icon-minus os-icon"></i>
          </div>
          <h6 class="filter-header">
            Frequently Asked Questions (FAQs)
          </h6>
          <div class="filter-body" style="padding-left: 5px; padding-right: 5px;">

          </div>
        </div>

      </div>
    </div>
    <!-- filter -->
  </div>
  <!-- col -->
  <!-- col -->
  <div class="col-md-9 col-lg-9 col-xl-9 bg-white">
    <!-- padding -->
    <div class="px-3">
      <!-- flex -->
      <div class="d-flex align-items-center justify-content-between py-3">
        <div class="d-flex flex-column">
          <div class="d-flex align-items-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="text-primary"
              viewBox="0 0 16 16">
              <path
                d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z" />
              <path
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
              <path
                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
            </svg>
            <div class="d-flex flex-column ml-2">
              <span class="font-weight-bold h5 mb-0">Analysis Results</span>
              <p class="mb-0 text-muted small">172,3694 Total DataTree Owner records</p>
            </div>
          </div>
        </div>
        <div>
          <button type="button" class="rounded-lg btn btn-danger mr-3">
            For sale and sold comps
          </button>
          <button type="button" class="rounded-lg btn btn-purple" data-toggle="modal" data-target="#completeModal">
            Continue
          </button>
        </div>
      </div>
      <!-- flex -->
      <!-- status -->
      <div class="border rounded-xl">
        <!-- row -->
        <div class="row">
          <div class="col-md-6 border-right">
            <div class="p-3">
              <div class="font-weight-bold">Total Records</div>
              <div class="font-weight-bold text-muted">147,325</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-3">
              <div class="font-weight-bold">Total Cost</div>
              <div class="font-weight-bold text-muted">$1,325</div>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- status -->
      <!-- filter -->
      <div class="d-flex align-items-center mt-3 justify-content-between">
        <div class="d-flex align-items-center">
          <div class="custom-control custom-checkbox form-control" style="width: auto;">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Select All</label>
          </div>
          <div class="d-flex align-items-center ml-4">
            <span>Sort By</span>
            <div class="pl-2">
              <select name="" class="form-control">
                <option value="">Rank</option>
                <option value="">All</option>
              </select>
            </div>
          </div>
        </div>
        <div>
          <button type="button" class="rounded-lg btn btn-purple">
            Export
          </button>
        </div>
      </div>
      <!-- filter -->
      <!-- table -->
      <table class="table">
        <thead>
          <tr>
            <th>Export?</th>
            <th>Rank</th>
            <th>Count</th>
            <th>Total Comps</th>
            <th>Market Ratio</th>
            <th>County</th>
            <th>State</th>
            <th>Acreege</th>
            <th>Offer Price</th>
            <th>Market Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"></label>
              </div>
            </td>
            <td>1</td>
            <td>39</td>
            <td>28</td>
            <td>35.25%</td>
            <td>Clarke</td>
            <td>Alabama</td>
            <td>30.0 - 39.99</td>
            <td>$756.25</td>
            <td>$3,024.15</td>
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"></label>
              </div>
            </td>
            <td>2</td>
            <td>39</td>
            <td>28</td>
            <td>35.25%</td>
            <td>Clarke</td>
            <td>Alabama</td>
            <td>30.0 - 39.99</td>
            <td>$756.25</td>
            <td>$3,024.15</td>
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"></label>
              </div>
            </td>
            <td>3</td>
            <td>39</td>
            <td>28</td>
            <td>35.25%</td>
            <td>Clarke</td>
            <td>Alabama</td>
            <td>30.0 - 39.99</td>
            <td>$756.25</td>
            <td>$3,024.15</td>
          </tr>
        </tbody>
      </table>
      <!-- table -->
    </div>
    <!-- padding -->
  </div>
  <!-- col -->
</div>
<!-- .row -->
<!-- property search -->

<!-- Modal -->
<div class="modal modal-right fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Scrub Filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="Blank-owners">
          <label class="custom-control-label" for="Blank-owners">Blank owners</label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="Blank-Addresses">
          <label class="custom-control-label" for="Blank-Addresses">Blank Addresses</label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="Duplicate-Owners">
          <label class="custom-control-label" for="Duplicate-Owners">Duplicate Owners</label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="Non-U.S-Addresses">
          <label class="custom-control-label" for="Non-U.S-Addresses">Non U.S Addresses</label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="Same-Zip-Code-as-Parcel">
          <label class="custom-control-label" for="Same-Zip-Code-as-Parcel">Same Zip Code as Parcel</label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="Last-Sale-Price-Value">
          <label class="custom-control-label" for="Last-Sale-Price-Value">Last Sale Price Value</label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="Custom-PRYCD-Owner-Filter">
          <label class="custom-control-label" for="Custom-PRYCD-Owner-Filter">Custom PRYCD Owner Filter</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Export</button>
      </div>
    </div>
  </div>
</div>
