.get__app__img {
    width: 230px !important;
    margin: auto;
    margin-top: -2rem !important;
}

.progress {
    display: -webkit-box;
    display: flex;
    height: 0.8rem;
    overflow: hidden;
    font-size: 0.65rem;
    background-color: #e9ecef;
    border-radius: 4px;
}


.modal-footer-pull-bottom {
    position: absolute;
    bottom: 20px;
}