<div class="modal-header">
  <h6 class="modal-title">
    <div class="d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-user-plus">
        <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
        <circle cx="8.5" cy="7" r="4"></circle>
        <line x1="20" y1="8" x2="20" y2="14"></line>
        <line x1="23" y1="11" x2="17" y2="11"></line>
      </svg>
      <div class="pl-1">Edit Organization</div>
    </div>
  </h6>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body h-100">
  <form>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="">Organization Name</label>
        <input type="text" name="organization-name-edit" id="rganization-name-edit" class="form-control"
          placeholder="Organization Name" [(ngModel)]="selectedOrganization.title">
      </div>
      <div class="form-group col-md-12">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" class="form-control" placeholder="Description"
          [(ngModel)]="selectedOrganization.description">
      </div>
      <div class="form-group col-md-12">
        <label for="address">Address</label>
        <input type="text" name="address" id="address" class="form-control" placeholder="Address"
          [(ngModel)]="selectedOrganization.address">
      </div>
      <div class="col-sm-6">
        <div class="form-group"><label for="timeZone">Timezone</label><select class="form-control" name="timeZone"
            [(ngModel)]="selectedOrganization.timeZone">
            <option [value]="undefined">Select</option>
            <option value="CST -5">CST -5</option>
            <option value="CST -4">CST -4</option>
          </select></div>
      </div>
      <div class="col-sm-6">
        <div class="form-group"><label for="">Admin Name</label>
          <input type="text" class="form-control" readonly [(ngModel)]="currentUser.DisplayName" name="displayName" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group"><label for="status">Status</label><select class="form-control" name="status"
            [(ngModel)]="selectedOrganization.status">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select></div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" placeholder="Email" class="form-control" [(ngModel)]="selectedOrganization.email"
            name="email" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" placeholder="Phone Number" class="form-control" [(ngModel)]="selectedOrganization.phone"
            name="phone" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="fax">Fax</label>
          <input type="text" placeholder="Fax Number" class="form-control" [(ngModel)]="selectedOrganization.fax"
            name="fax" />
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group col-md-12"><label for="">Company Logo</label>
          <div class="d-flex align-items-center">
            <img *ngIf="!imageData" src="../../../assets/img/weblogo.png" alt="avatar" class="shadow avatar">
            <img *ngIf="imageData && imageData.length > 10" width="75px" height="72px" [src]="imageData" alt="avatar"
              class="shadow avatar">
            <label for="edit-org-image" class="ml-4 mb-0">
              <div class="form-control form-control-sm">Change</div>
            </label><button type="button" class="form-control form-control-sm border-0 ml-3"
              style="width: auto; background-color: transparent;" (click)="removeImage()">Remove</button>
          </div><input type="file" name="edit-org-image" accept="image/*" id="edit-org-image" placeholder="" required=""
            class="form-control d-none" (change)="onChangeImg($event)">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" (click)="update()"
    class="btn btn-orange d-flex align-items-center px-3 modal-footer-pull-bottom" [disabled]="isSaving">
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-save"
      viewBox="0 0 16 16">
      <path
        d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
    </svg>
    <div class="pl-1">Submit&nbsp;&nbsp;<i *ngIf="isSaving" class="fa fa-spinner fa-spin" style="font-size:18px"></i>
    </div>
  </button>
</div>