.fill-questionnaire{
    
    .left-side{
        background-color: #414141;
        width: 250px;
        min-width: 250px;
        border-right: 1px solid #E6E6E6;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        .ls-header{
            background-color: #535353;
            padding: 10px 20px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.2);
            border-radius: inherit;
        }
    }
    
    
    .list-item{
        border-radius: 0 10px 10px 0;
        padding: 5px 10px;
        margin: 10px 0;
        width: 210px;
        cursor: pointer;
    }
    
    
    .list-item span{
        margin-left: 10px;
        font-size: 21px;
    }
    
    .list-item label{
        margin-left: 10px;
    }
    
    .list-item *{
        cursor: pointer;
        color: #E1E1E1;
    }
    
    .list-item.active,
    .list-item:hover
    {
        background: #FFF;
        transition: all 0.5s ease-in-out;
        i{
            color: #414141;
        }
    }
    
    .list-item:hover *
    {
        color: #686868;
    }
    
    .list-item.active *{
        color: #686868;
    }
    
    
    .list-item:not(.done) i{
        visibility: hidden;
    }
    
    /*Main Container*/
    .main-container{
        overflow-y: auto;
        padding: 20px 25px;
    }
    
    hr{
        border: 0;
        border-bottom: 1px solid #DFDFDF;
    }
    
    .label-required{
        color: #C90000;
    }
    
    .qs-item{
        margin: 15px 0;
    }
    
    .qs-item .num{
        position: absolute;
        left: 250px;
        display: block;
        width: 35px;
        height: 35px;
        background-color: #DBDBDB;
        border: 3px solid #FFFFFF;
        border-radius: 20px;
        line-height: 30px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }
    
    .qs-item.active .num,
    .qs-item.done .num
    {
        background-color: #535353;
        color: #FFFFFF;
    }
    
    .qs-item .num:hover{
        background-color: #535353;
        color: #FFFFFF;
    }
    
    .qs-item .qs-container{
        border: 1px solid #CFCFCF;
        border-radius: 15px;
        min-height: 35px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.1);
        padding: 5px 0px;
        cursor: pointer;
    }
    
    .qs-item .qs-container *{
        cursor: pointer;
    }
    
    .qs-item .qs-container:hover label{
        color: #535353;
    }
    
    .qs-item .qs-container label{
        padding: 3px 10px;
        font-size: 12px;
    }
    
    .qs-item.active .qs-container,
    .qs-item.done .qs-container
    {
        box-shadow: unset;
        border: 0;
    }
    
    .qs-item.active .qs-container label,
    .qs-item.done .qs-container label
    {
        padding: 0;
        font-size: 20px;
        color: #535353;
    }
    
    .qs-item.active + .form-answer,
    .qs-item.done + .form-answer
    {
        display: block;
    }
    
    .form-answer{
        display: none;
        max-width: 650px;
        .attachment{
            position: relative;
            .answer-attachment{
                cursor: pointer;
                width: 90px;
                height: 60px;
                object-fit: cover;
            }
            .close{
                position: absolute;
                top: 2px;
                right: 9px;
                font-size: small;
                opacity: 0.5;
                background: white;
                border: 1px solid black;
                border-radius: 50%;
                cursor: pointer;
                &:hover{
                    color: red;
                    border-color: red;
                }
            }
        }
        
    }
    
    .upload-image{
        background-color: #F5FEFF;
        border: 1px dashed #32C7D5;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 10px 0;
    }
    
    .upload-image button{
        background-color: #FFFFFF;
        border: 0;
        border: 1px solid #535353;
        border-radius: 10px;
        padding: 5px 10px;
    }
    
    .upload-image button *{
        color: #535353;
    }
    
    .upload-image button span{
        font-size: 18px;
        margin-right: 5px;
    }
    
    /*Responsive Style*/
    @media screen and (max-width:1023px){
        section{
            flex-direction: column;
        }
        
        .left-side{
            width: 100%;
            min-width: auto;
        }
    
        .room-list{
            overflow-x: auto;
        }
        
        .rl-items{
            display: flex;
            display: inline-flex;
            display: -webkit-flex;
        }
        
        .rl-items .list-item{
            white-space: nowrap;
            margin: 10px;
        }
        
        .rl-items .list-item span{
            margin-left: 0px;
        }
        
        .rl-items .list-item{
            border-radius: 10px;
        }
        
        .qs-item .num{
            position: relative;
            left: auto !important;
            top:auto !important;
            margin-right: 10px;
        }
        
        .form-answer{
            margin-left: 50px;
        }

        .left-side{
                border-top-left-radius: 12px;
                border-bottom-left-radius: 0px;
                border-top-right-radius: 12px;
            .ls-header{
                border-radius: inherit;
            }
        }

        .input-text,.textarea{
            max-width: 100%;
        }
    
        .textarea textarea{
            max-width: 100%;
        }

        .form-answer{
            width: 100%;
            .btn-next{
                width: 100%;
            }
        }
    }

    @media (max-width: 424px) {
        .form-answer{
            margin-left: 0px;
        }
        .rl-items .list-item{
            white-space: nowrap;
            margin: 10px 5px;
        }
    }
    
    *,
     ::after,
     ::before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    ::-webkit-input-placeholder { /* Edge */
      color: #BCBCBC;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #BCBCBC;
    }
    
    ::placeholder {
      color: #BCBCBC;
    }
    
    i.material-icons:before{display:none;}
    
    /*Flex*/
    .flex{
        display: flex;
        display: inline-flex;
        display: -webkit-flex;
    }
    
    .flex-grow{
        flex-grow: 1;
    }
    
    .flex-column{
        flex-direction: column;
    }
    
    .flex-center{
        justify-content: center;
        align-items: center;
    }
    
    .flex-center-vertical{
        align-items: center;
    }
    
    .full-width{
        width: 100%;
    }
    
    /*Input*/
    .input-text,
    .textarea
    {
        position: relative;
        max-width: 650px;
    }
    
    .input-text input,
    .textarea textarea
    {
        border: 1px solid #BFBFBF;
        padding: 0px 10px;
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }
    
    .textarea textarea{
        min-height: 100px;
        padding: 8px 10px;
    }
    
    .input-text input:focus,
    .textarea textarea:focus
    {
        border: 1px solid #535353;
    }
    
    .input-text input:placeholder-shown+span,
    .textarea textarea:placeholder-shown+span
    {
        visibility: hidden;
    }
    
    .input-text input:focus+span,
    .textarea textarea:focus+span
    {
        color: #535353;
    }
    
    .input-text .label-text,
    .textarea .label-text
    {
        position: absolute;
        top: -8px;
        left: 8px;
        background-color: #FFFFFF;
        color: #BCBCBC;
        font-size: 10px;
        line-height: 1.5;
        pointer-events: none;
        padding: 0 5px;
    }
    
    /*Button*/
    button{
        cursor: pointer;
    }
    
    .btn-primary{
        background-color: #535353;
        border: 0;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .btn-primary:hover{
        background-color: #3BADB8;
    }
    
    .btn-add{
        border: 1px solid #535353;
        background: transparent;
        padding: 0px;
        min-width: 35px;
        height: 35px;
        line-height: 35px;
        vertical-align: middle;
        margin-left: 10px;
        border-radius: 5px;
    }
    
    .btn-add span{
        color: #535353;
        display: block;
    }
    
    .btn-add:hover{
        background-color: #535353;
        transition: all 0.2s ease-in-out;
    }
    
    .btn-add:hover span{
        color: #FFFFFF;
    }
    
    .img-container{
        height: fit-content;
        img{
            cursor: pointer;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
}