<div class="fill-questionnaire p-3">
    <section class="d-flex bg-white rounded-xl">
		<div class="left-side d-flex flex-column">
			<div class="ls-header">
				<font style="font-size: 16px;color: #FFFFFF">Room Questionnaire</font>
				<br/>
				<font style="font-size: 14px;color: #FFFFFF">2 of 16 completed</font>
			</div>
			<div class="room-list flex-grow d-flex flex-column">
				<div class="rl-items">
					<div class="list-item d-flex align-items-center done">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Walkin Wardrobe</label>
					</div>
					<div class="list-item d-flex align-items-center done">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">M.Bath</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Garage</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Master Bedroom</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Bed 1</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Bed 2</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Bed 3</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Bath 1</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Bath 2</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Bath 3</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Temple</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Library</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Kitchen</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Dining</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Foyer</label>
					</div>
					<div class="list-item d-flex align-items-center">
						<i class="os-icon os-icon-checkmark"></i>
						<label class="flex-grow">Porch</label>
					</div>
				</div>
			</div>
		</div>
		<div class="main-container">
			<font style="font-size: 16px;color: #858585">Garage Room</font>
			<br/>
			<font style="font-size: 12px;color: #535353">4 Questions</font>
			<hr/>
			<font style="font-size: 12px;color: #B5B5B5;font-style: italic;">Note: Questions marked with (<span class="label-required">*</span>) are required</font>
			<div class="questions">
				<div class="qs-item active d-flex">
					<span class="num">1</span>
					<div class="qs-container d-flex">
						<label>What is the finishes of wall Interior? <span class="label-required">*</span></label>
					</div>
				</div>
				<div class="form-answer">
					<div class="textarea flex-grow">
                        <textarea name="answer" placeholder="Type your answer"></textarea><span class="label-text d-flex align-items-center">Answer</span>
                    </div>
                    <button type="button" class="btn btn-link">3 Files Attached</button>
					<div class="upload-image d-flex align-items-center">
						<div class="flex-grow">
							<font style="font-size: 12px;color: #828282">Upload Image (<i>JPG/JPEG/PNG/GIF</i>):</font>
							<br/>
							<font style="font-size: 10px;color: #A5A5A5">Max file size: <strong>1000kb</strong></font>
						</div>
                        
						<button class="d-flex flex-center">
							<i class="os-icon os-icon-upload-cloud"></i>
							<font style="font-size: 12px;">Upload Image</font>
						</button>
					</div>
					<button class="btn btn-orange btn-next">SAVE</button>
				</div>
				<div class="qs-item d-flex">
					<span class="num">2</span>
					<div class="qs-container d-flex">
						<label>What is the finishes of floor Interior? <span class="label-required">*</span></label>
					</div>
				</div>
				<div class="form-answer">
					<div class="textarea flex-grow"><textarea name="answer" placeholder="Type your answer"></textarea><span class="label-text d-flex align-items-center">Answer</span></div>
					<div class="upload-image d-flex align-items-center">
						<div class="flex-grow">
							<font style="font-size: 12px;color: #828282">Upload Image (<i>JPG/JPEG/PNG/GIF</i>):</font>
							<br/>
							<font style="font-size: 10px;color: #A5A5A5">Max file size: <strong>1000kb</strong></font>
						</div>
						<button class="d-flex flex-center">
							<i class="os-icon os-icon-checkmark"></i>
							<font style="font-size: 12px;">Upload Image</font>
						</button>
					</div>
					<button class="btn-primary btn-next">NEXT</button>
				</div>
				<div class="qs-item d-flex">
					<span class="num">3</span>
					<div class="qs-container d-flex">
						<label>What is the style of door and finishes? <span class="label-required">*</span></label>
					</div>
				</div>
				<div class="form-answer">
					<div class="textarea flex-grow"><textarea name="answer" placeholder="Type your answer"></textarea><span class="label-text d-flex align-items-center">Answer</span></div>
					<div class="upload-image d-flex align-items-center">
						<div class="flex-grow">
							<font style="font-size: 12px;color: #828282">Upload Image (<i>JPG/JPEG/PNG/GIF</i>):</font>
							<br/>
							<font style="font-size: 10px;color: #A5A5A5">Max file size: <strong>1000kb</strong></font>
						</div>
						<button class="d-flex flex-center">
							<i class="os-icon os-icon-checkmark"></i>
							<font style="font-size: 12px;">Upload Image</font>
						</button>
					</div>
					<button class="btn-primary btn-next">NEXT</button>
				</div>
				<div class="qs-item d-flex">
					<span class="num">4</span>
					<div class="qs-container d-flex">
						<label>Any other details?</label>
					</div>
				</div>
				<div class="form-answer">
					<div class="textarea flex-grow"><textarea name="answer" placeholder="Type your answer"></textarea><span class="label-text d-flex align-items-center">Answer</span></div>
					<div class="upload-image d-flex align-items-center">
						<div class="flex-grow">
							<font style="font-size: 12px;color: #828282">Upload Image (<i>JPG/JPEG/PNG/GIF</i>):</font>
							<br/>
							<font style="font-size: 10px;color: #A5A5A5">Max file size: <strong>1000kb</strong></font>
						</div>
						<button class="d-flex flex-center">
							<i class="os-icon os-icon-checkmark"></i>
							<font style="font-size: 12px;">Upload Image</font>
						</button>
					</div>
					<button class="btn-primary btn-next">NEXT</button>
				</div>
			</div>
		</div>
        <div class="d-flex flex-row flex-wrap" style="width: 1024px;">
            <div class="img-container p-3">
                <img src="./assets/auth-pages/images/19.jpg">
            </div>
            <div class="img-container p-3">
                <img src="./assets/auth-pages/images/20.jpg">
            </div>
            <div class="img-container p-3">
                <img src="./assets/auth-pages/images/21.jpg">
            </div>
            <div class="img-container p-3">
                <img src="./assets/auth-pages/images/login-bg.jpg">
            </div>
        </div>
	</section>
</div>
