.row{
    &.filter-row{
        cursor: pointer;
    }
}

@media(min-width: 768px){
    .inventory-items-container{
        .card-deck{
            .card{
                &.inventory-item{
                    max-width: 240px;
                    margin-left: 0px;
                }
            }
        }
    }
    .filter-form{
        .form-control-label{
            font-size: 0.8rem;
            &.numeric-filter-label{
                margin-bottom: 0.7rem;
            }
            &.multiselect-filter-label{
                margin-bottom: 0rem;
            }
        }
        .search-submit{
            width: auto;
        }
    }
}
@media(min-width: 1200px) {
    .filter-form{
        .form-control-label{
            font-size: 0.9rem;
        }
    }
}

