.filter-form{
    font-size: 0.8rem;
    .form-control-label{
        font-size: inherit;
        &.numeric-filter-label{
            margin-bottom: 0.7rem;
        }
        &.multiselect-filter-label{
            margin-bottom: 0rem;
        }
    }
    .form-control, .custom-select{
        font-size: inherit;
    }
    .search-submit{
        font-size: inherit;
    }
}

@media(min-width: 768px){
    .inventory-items-container{
        .card-deck{
            .card{
                &.inventory-item{
                    max-width: 240px;
                    margin-left: 0px;
                }
            }
        }
    }
    .filter-form{
        .form-control-label{
            &.numeric-filter-label{
                margin-bottom: 0.7rem;
            }
            &.multiselect-filter-label{
                margin-bottom: 0rem;
            }
        }
        .search-submit{
            width: auto;
        }
    }
}

