<div class="todo-app-w">
  <div class="todo-sidebar">

    <div class="todo-sidebar-section">
      <h4 class="todo-sidebar-section-header"><span>Project Details</span><i
          class="os-icon os-icon-ui-02 starred"></i><a class="todo-sidebar-section-toggle"></a></h4>
      <div class="todo-sidebar-section-contents">
        <div class="todo-sidebar-section-sub-section">
          <div class="todo-sidebar-section-sub-section-toggler"></div>
          <div class="todo-sidebar-section-sub-header d-flex justify-content-between" (click)="expandAccordion(0)"><i class="os-icon os-icon-layers"></i>
            <h6>Floor Plans</h6>
            <div class="os-icon os-icon-chevron-down accordion-chevron" *ngIf="!accordionExpandedInfo[0]"></div>
            <div class="os-icon os-icon-chevron-up accordion-chevron" *ngIf="accordionExpandedInfo[0]"></div>
          </div>
          <div class="todo-sidebar-section-sub-section-content" *ngIf="accordionExpandedInfo[0]">
            <ul class="items-list">
              <li><a href="javascript:void(0)" class="section-link {{activeSection === 'HandSketchesAndDrawings' ? 'active' : ''}}" (click)="showSection('HandSketchesAndDrawings','Floor-Plans', 0)">Hand
                  Sketches/drawings</a></li>
              <li><a href="javascript:void(0)" class="section-link {{activeSection === 'CADDrawings' ? 'active' : ''}}" (click)="showSection('CADDrawings','Floor-Plans', 0)">CAD Drawings</a></li>
              <li><a href="javascript:void(0)" class="section-link {{activeSection === 'OtherReferences' ? 'active' : ''}}" (click)="showSection('OtherReferences','Floor-Plans', 0)">Other References</a></li>
            </ul>
          </div>
        </div>
        <div class="todo-sidebar-section-sub-section">
          <div class="todo-sidebar-section-sub-section-toggler"></div>
          <div class="todo-sidebar-section-sub-header d-flex justify-content-between" (click)="expandAccordion(1)"><i class="os-icon os-icon-image"></i>
            <h6>Photos</h6>
            <div class="os-icon os-icon-chevron-down accordion-chevron" *ngIf="!accordionExpandedInfo[1]"></div>
            <div class="os-icon os-icon-chevron-up accordion-chevron" *ngIf="accordionExpandedInfo[1]"></div>
          </div>
          <div class="todo-sidebar-section-sub-section-content" *ngIf="accordionExpandedInfo[1]">
            <ul class="items-list">
              <li><a href="javascript:void(0)" class="section-link {{activeSection === 'CurrentPhotos' ? 'active' : ''}}" (click)="showSection('CurrentPhotos','Photos', 1)">Current Photos</a></li>
              <li><a href="javascript:void(0)" class="section-link {{activeSection === 'ReferencePhotos' ? 'active' : ''}}" (click)="showSection('ReferencePhotos','Photos', 1)">Reference Photos</a></li>
              <li><a href="javascript:void(0)" class="section-link {{activeSection === 'ReferenceVideos' ? 'active' : ''}}" (click)="showSection('ReferenceVideos','Photos', 1)">Reference Videos</a></li>
            </ul>
          </div>
        </div>
        <div class="todo-sidebar-section-sub-section">
          <div class="todo-sidebar-section-sub-section-toggler"></div>
          <div class="todo-sidebar-section-sub-header d-flex justify-content-between" (click)="expandAccordion(2)"><i class="os-icon os-icon-codepen"></i>
            <h6>3D Models</h6>
            <div class="os-icon os-icon-chevron-down accordion-chevron" *ngIf="!accordionExpandedInfo[2]"></div>
            <div class="os-icon os-icon-chevron-up accordion-chevron" *ngIf="accordionExpandedInfo[2]"></div>
          </div>
          <div class="todo-sidebar-section-sub-section-content" *ngIf="accordionExpandedInfo[2]">
            <ul class="items-list">
              <li><a href="javascript:void(0)" class="section-link {{activeSection === 'PrerenderedPhotos' ? 'active' : ''}}" (click)="showSection('PrerenderedPhotos','3D-Model', 2)">Pre-Rendered Photos</a></li>
              <li><a href="javascript:void(0)" class="section-link {{activeSection === 'RenderedPhotos' ? 'active' : ''}}" (click)="showSection('RenderedPhotos','3D-Model', 2)">Rendered Photos</a></li>
              <li><a href="javascript:void(0)" class="section-link {{activeSection === 'VideosOrAnimations' ? 'active' : ''}}" (click)="showSection('VideosOrAnimations','3D-Model', 2)">Videos/Animations</a></li>
              <li><a href="javascript:void(0)" class="section-link {{activeSection === '3DModelViewer' ? 'active' : ''}}" (click)="showSection('3DModelViewer','3D-Model', 2)">3D/AR Model Viewer <span class="badge badge-danger">New</span></a></li>
              <li><a href="javascript:void(0)" class="section-link {{activeSection === 'Source Files' ? 'active' : ''}}" (click)="showSection('SourceFiles','3D-Model', 2)">All Source Files</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="todo-content">
    <!-- TO:DO: Consider router for this -->
    <app-images [module]="module" [projectId]="id" documentType="HandSketchesAndDrawings"
      *ngIf="activeSection==='HandSketchesAndDrawings'" header="Hand Sketches and Drawings"></app-images>
    <app-documents [projectId]="id" documentType="CADDrawings" *ngIf="activeSection==='CADDrawings'"
      header="CAD Drawings"></app-documents>
    <app-documents [projectId]="id" documentType="OtherReferences" *ngIf="activeSection==='OtherReferences'"
      header="Other References"></app-documents>
    <app-images [module]="module" [projectId]="id" documentType="CurrentPhotos" *ngIf="activeSection==='CurrentPhotos'"
      header="Current Photos"></app-images>
    <app-images [module]="module" [projectId]="id" documentType="ReferencePhotos" *ngIf="activeSection==='ReferencePhotos'"
      header="Reference Photos"></app-images>
    <app-images [module]="module" [projectId]="id" documentType="ReferenceVideos" *ngIf="activeSection==='ReferenceVideos'"
      header="Reference Videos"></app-images>
    <app-images [module]="module" [projectId]="id" documentType="PrerenderedPhotos" *ngIf="activeSection==='PrerenderedPhotos'"
      header="Pre-rendered Photos"></app-images>
    <app-images [module]="module" [projectId]="id" documentType="RenderedPhotos" *ngIf="activeSection==='RenderedPhotos'"
      header="Rendered Photos"></app-images>
    <app-images [module]="module" [projectId]="id" documentType="VideosOrAnimations" *ngIf="activeSection==='VideosOrAnimations'"
      header="Videos / Animations"></app-images>
    <app-models [projectId]="id" documentType="3DModelViewer" *ngIf="activeSection==='3DModelViewer'"
      header="3D Model Viewer"></app-models> 
    <app-documents [projectId]="id" documentType="SourceFiles" *ngIf="activeSection==='SourceFiles'"
      header="All Source Files"></app-documents>
  </div>
</div>