<div class="todo-app-w">
  <div class="todo-sidebar">

    <div class="todo-sidebar-section">
      <h4 class="todo-sidebar-section-header"><span>Project Details</span><i
          class="os-icon os-icon-ui-02 starred"></i><a class="todo-sidebar-section-toggle"></a></h4>
      <div class="todo-sidebar-section-contents">
        <div class="todo-sidebar-section-sub-section" *ngIf="modules[moduleByIndex(0)].showInModes.includes(projectsViewMode)">
          <div class="todo-sidebar-section-sub-section-toggler"></div>
          <div class="todo-sidebar-section-sub-header d-flex justify-content-between" (click)="expandAccordion(moduleByIndex(0))"><i class="os-icon os-icon-layers"></i>
            <h6>{{modules[moduleByIndex(0)].label}}</h6>
            <div class="os-icon os-icon-chevron-down accordion-chevron" *ngIf="!modules[moduleByIndex(0)].expanded"></div>
            <div class="os-icon os-icon-chevron-up accordion-chevron" *ngIf="modules[moduleByIndex(0)].expanded"></div>
          </div>
          <div class="todo-sidebar-section-sub-section-content" *ngIf="modules[moduleByIndex(0)].expanded">
            <ul class="items-list">
              <li *ngFor="let section of modules[moduleByIndex(0)].sections" appPermission [module]="moduleByIndex(0)" [action]="section.key">
                <a [routerLink]="['/projects/project-overview', id, projectsViewMode, section.key]" class="section-link {{activeSection === section.key ? 'active' : ''}}">
                  {{section.label}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="todo-sidebar-section-sub-section" *ngIf="modules[moduleByIndex(1)].showInModes.includes(projectsViewMode)">
          <div class="todo-sidebar-section-sub-section-toggler"></div>
          <div class="todo-sidebar-section-sub-header d-flex justify-content-between" (click)="expandAccordion(moduleByIndex(1))"><i class="os-icon os-icon-image"></i>
            <h6>{{modules[moduleByIndex(1)].label}}</h6>
            <div class="os-icon os-icon-chevron-down accordion-chevron" *ngIf="!modules[moduleByIndex(1)].expanded"></div>
            <div class="os-icon os-icon-chevron-up accordion-chevron" *ngIf="modules[moduleByIndex(1)].expanded"></div>
          </div>
          <div class="todo-sidebar-section-sub-section-content" *ngIf="modules[moduleByIndex(1)].expanded">
            <ul class="items-list">
              <li *ngFor="let section of modules[moduleByIndex(1)].sections" appPermission [module]="moduleByIndex(1)" [action]="section.key">
                <a [routerLink]="['/projects/project-overview', id, projectsViewMode, section.key]" class="section-link {{activeSection === section.key ? 'active' : ''}}">
                  {{section.label}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="todo-sidebar-section-sub-section" *ngIf="modules[moduleByIndex(2)].showInModes.includes(projectsViewMode)">
          <div class="todo-sidebar-section-sub-section-toggler"></div>
          <div class="todo-sidebar-section-sub-header d-flex justify-content-between" (click)="expandAccordion(moduleByIndex(2))"><i class="os-icon os-icon-codepen"></i>
            <h6>{{modules[moduleByIndex(2)].label}}</h6>
            <div class="os-icon os-icon-chevron-down accordion-chevron" *ngIf="!modules[moduleByIndex(2)].expanded"></div>
            <div class="os-icon os-icon-chevron-up accordion-chevron" *ngIf="modules[moduleByIndex(2)].expanded"></div>
          </div>
          <div class="todo-sidebar-section-sub-section-content" *ngIf="modules[moduleByIndex(2)].expanded">
            <ul class="items-list">
              <li *ngFor="let section of modules[moduleByIndex(2)].sections" appPermission [module]="moduleByIndex(2)" [action]="section.key">
                <a [routerLink]="['/projects/project-overview', id, projectsViewMode, section.key]" class="section-link {{activeSection === section.key ? 'active' : ''}}">
                  {{section.label}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="todo-content">
    <ng-template ngFor let-moduleKey [ngForOf]="moduleKeys">
      <ng-template ngFor let-section [ngForOf]="modules[moduleKey].sections">
        <app-notes
          [module]="moduleKey"
          [projectId]="id"
          [documentType]="section.key"
          *ngIf="activeSection === section.key && section.component === 'notes'"
          [header]="section.label">
        </app-notes>
        <app-images
          [module]="moduleKey"
          [projectId]="id"
          [documentType]="section.key"
          *ngIf="activeSection === section.key && section.component === 'images'"
          [header]="section.label">
        </app-images>
        <app-documents
          [projectId]="id"
          [documentType]="section.key"
          *ngIf="activeSection === section.key && section.component === 'documents'"
          [header]="section.label">
        </app-documents>
        <app-videos
          [module]="moduleKey"
          [projectId]="id"
          [documentType]="section.key"
          *ngIf="activeSection === section.key && section.component === 'videos'"
          [header]="section.label">
        </app-videos>
        <app-models
          [projectId]="id"
          [documentType]="section.key"
          *ngIf="activeSection === section.key && section.component === 'models'"
          [header]="section.label">
        </app-models> 
      </ng-template>
    </ng-template>
  </div>
</div>