.multi-item-container {
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    @media(min-width: 768px){
        align-items: start;
    }
}

.control-width{
    width: 50%;
    @media(max-width: 768px){
        width: 100%;
    }
}