<div class="px-3 income">
  <div class="p-3">
    <div class="rounded-xl mb-3 get__app">
      <div class="row">
        <div class="col-md-4 col-lg-5 col-xl-4">
          <div class="d-flex justify-content-between align-items-center">
            <img src="../../../../assets/banner_img/15.svg" class="get__app__img">
          </div>
        </div>
        <div class="col-md-4 col-lg-5 col-xl-6 text-center-md">
          <div class="py-4">
            <h5 class="text-purple font-weight-bolder mb-1">Manage Your Projects</h5>
            <p class="text-primary-dark mb-1">
              View all your projects in one place. Manage project content like reference images, sketches, 3D models and
              more.
            </p>

          </div>
        </div>
      </div>
    </div>
    <div class="p-3 bg-white border-primary-light rounded-xl-top">
      <!-- title -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h6 class="m-0">Project List</h6>
        <div appPermission module="Projects" action="create" class="d-flex align-items-center">
          <button type="button" class="btn btn-sm btn-orange d-flex align-items-center py-3" data-toggle="modal"
            data-target="#addproject">
            <div class="icon icon-control_point"></div>
            <div class="pl-1">Add project</div>
          </button>
        </div>
      </div>
      <!-- title -->
      <!-- advance filter section -->
      <div class="row advance-filter">
        <div class="col-md-12 col-lg-12 col-xl-9 order-md-2 order-lg-2 order-xl-1">
          <!-- flex -->
          <div class="row no-gutters d-flex align-items-center">
            <div class="col-md-12 col-lg-7 col-xl-6 d-flex mb-1">
              <!-- search -->
              <div class="mx-3 w-100">
                <div class="input-group border rounded-xl">
                  <div class="input-group-prepend" (click)="GetAllproject()">
                    <span class="input-group-text btn-auto border-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-search">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                      </svg>
                    </span>
                  </div>
                  <input type="search" id="filter-search" class="form-control border-0"
                    placeholder="Search via project name and client name" (keyup)="onSearchList($event)"
                    [(ngModel)]="searchKey">
                </div>
              </div>
              <!-- search -->
            </div>
            <div class="col-md-12 col-lg-5 col-xl-6 d-flex mb-1">
              <!-- advance filter -->
              <div class="dropdown ml-3 border rounded-xl">
                <button type="button" class="btn btn-light btn-auto d-flex justify-content-center"
                  data-toggle="dropdown">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-funnel" viewBox="0 0 16 16">
                    <path
                      d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                  </svg>
                </button>
                <div class="dropdown-menu" style="min-width: 14rem;">
                  <!-- card -->
                  <div>
                    <div class="px-3 py-2">
                      Filter Property
                      <!-- Toggle Button -->
                      <a class="close" href="#" data-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-x" viewBox="0 0 16 16">
                          <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                      </a>
                      <!-- End Toggle Button -->
                    </div>

                    <div class="p-3">
                      <!-- Row -->
                      <div class="d-flex flex-column">
                        <div>
                          <div class="small mb-1">Status</div>
                          <!-- search -->
                          <ng-select [(ngModel)]="searchStatuses" [items]="statusList" [multiple]="true"
                            [closeOnSelect]="false">

                          </ng-select>
                          <!-- End search -->
                        </div>
                      </div>
                      <!-- End Row -->
                      <a class="btn btn-block btn-primary mt-4" (click)="GetAllproject()"
                        data-toggle="dropdown">Apply</a>
                    </div>
                  </div>
                  <!-- card -->
                </div>
              </div>
              <div *ngIf="visibleFilter">
                <a class="btn" (click)="clearFilter()">Clear Filter</a>
              </div>
              <!-- advance filter -->
            </div>
          </div>
          <!-- flex -->
        </div>
        <div class="col-md-12 col-lg-12 col-xl-3 d-flex justify-content-end order-md-1 order-lg-1 order-xl-2 mb-1">
        </div>
      </div>
    </div>
    <div class="col-md-12 text-primary text-center mt-4 bg-white h-100 p-4" *ngIf="isLoading">
      <i class="fa fa-spinner fa-spin" style="font-size:40px"></i>
    </div>
    <div *ngIf="!isLoading">
      <table class="table bg-white rounded-xl">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Project Type</th>
            <th>Client Name</th>
            <!-- <th>Team Name</th> -->
            <th *ngIf="isHide">Cost</th>
            <th>Start Date</th>
            <th>Dead Line</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projectList; let i = index">
            <td data-label="project Name">
              <div class="responsive-td">
                <span class="pl-1">{{project.projectName}}</span>
              </div>
            </td>
            <td>
              <div class="project-type-container" *ngIf="project?.projectTypeIds?.length">
                <span *ngFor="let item of project?.projectTypeIds" class="badge badge-success project-type-item">{{getProjectType(item)}}</span><br>
              </div>
            </td>
            <td data-label="Client Name">
              <div class="responsive-td">
                <span class="pl-1">{{project.clientName}}</span>
              </div>
            </td>
            <td *ngIf="isHide" data-label="Project Cost">
              <div class="responsive-td">
                <span class="pl-1">{{project.cost | currency }}</span>
              </div>
            </td>
            <td data-label="Start date">
              <div class="responsive-td">
                <span class="pl-1">{{project.startDate | date : 'MM-dd-yyyy' }}</span>
              </div>
            </td>
            <td data-label="Deadline">
              <div class="responsive-td">
                <span class="pl-1">{{project.deadline | date : 'MM-dd-yyyy'}}</span>
              </div>
            </td>
            <td data-label="Status">
              <div class="responsive-td">
                <span class="pl-1">{{project.status}}</span>
              </div>
            </td>
            <td data-label="Action">
              <div class="dropdown">
                <button type="button" class="btn btn-auto btn-light" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path
                      d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                  </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" data-toggle="modal" [routerLink]="['/projects/project-overview']"
                    (click)="openProject(project)">Details</a>
                  <a appPermission module="Projects" action="edit" class="dropdown-item" href="#" data-toggle="modal"
                    data-target="#editproject" (click)="setSelectedproject(project)">Edit</a>
                  <a appPermission module="Projects" action="delete" class="dropdown-item" href="#" data-toggle="modal"
                    data-target="#deleteproject" (click)="setSelectedproject(project)">Delete</a>
                  <div class="dropdown-submenu">
                    <h6 class="dropdown-header text-muted text-center">Questionnaire</h6>
                    <a appPermission module="Questionnaire" action="prepare" class="dropdown-item"
                      href="javascript:void(0);" (click)="openQuestionnaire(project, 'prepare')">Prepare</a>
                    <a appPermission module="Questionnaire" action="fill" class="dropdown-item"
                      href="javascript:void(0);" (click)="openQuestionnaire(project, 'fill')">Fill</a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngIf="!isLoading && projectList && projectList.length < 1">
            <td style="text-align: center !important;" colspan="7"><strong>No records found</strong>
            </td>
          </tr>

        </tbody>
      </table>
      <app-pagination [pageNumber]="pageNumber" [total]="total" [pageSize]="pageSize"
        (pageChangeEvent)="onPaginationChange($event)"></app-pagination>
    </div>
  </div>
</div>

<div class="modal fade modal-right" id="addproject" tabindex="-1" data-backdrop="static" role="dialog"
  aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <app-project-add (addSuccessEvent)="GetAllproject()" [statusList]="statusList"></app-project-add>
  </div>
</div>

<div class="modal fade modal-right" id="editproject" tabindex="-1" data-backdrop="static" role="dialog"
  aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <app-project-edit [project]="selectedproject" (updateSuccessEvent)="GetAllproject()" [statusList]="statusList">
    </app-project-edit>
  </div>
</div>

<div class="modal fade modal-right" id="deleteproject" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
  aria-hidden="true">
  <app-project-delete [project]="selectedproject" (deleteSuccessEvent)="GetAllproject()"></app-project-delete>
</div>