<div class="modal-header">
    <h6 class="modal-title">
        <div class="d-flex align-items-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-lock" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z" />
                <path
                    d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z" />
            </svg>
            <div class="pl-1">Add Role</div>
        </div>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="close(userRoleForm)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="userRole" role="form" (ngSubmit)="saveRole(userRoleForm)" novalidate #userRoleForm="ngForm"
    autocomplete="off">
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="role-name">Role Name</label>
                <input type="text" name="role-name-add" id="role-name-add" class="form-control" placeholder="Name"
                    [(ngModel)]="roleName" #roleNameInput="ngModel" required>
                <div *ngIf="roleNameInput.invalid && (roleNameInput.dirty || roleNameInput.touched)">
                    <small class="form-text text-danger" *ngIf="roleNameInput.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="">Permission Matrix</label>
                <div class="bg-white rounded-xl border">
                    <!-- data table -->
                    <table class="table bg-white rounded-xl">
                        <thead class="text-center role-thead">
                            <tr>
                                <th class="text-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="text-primary-light" viewBox="0 0 16 16">
                                        <path
                                            d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </th>
                                <th width="65px" class="border-left">View</th>
                                <th width="65px">Add</th>
                                <th width="65px">Edit</th>
                                <th width="65px">Delete</th>
                            </tr>
                        </thead>
                        <tbody class="role-tbody">
                            <tr>
                                <td class="parent-table-td">
                                    <!-- inner table -->
                                    <table class="inner-table">
                                        <tr>
                                            <td class="text-left font-weight-bolder td-title">
                                                Buying Cycle
                                            </td>
                                        </tr>
                                        <tr *ngFor="let permissions of addPermissions['Buying Cycle'] ; let i=index">
                                            <td class="text-left">{{permissions.title}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left font-weight-bolder td-title">
                                                Selling Cycle
                                            </td>
                                        </tr>
                                        <tr *ngFor="let permissions of addPermissions['Selling Cycle'] ; let i=index">
                                            <td class="text-left">{{permissions.title}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left font-weight-bolder td-title">
                                                Administration
                                            </td>
                                        </tr>
                                        <tr *ngFor="let permissions of addPermissions['Administration'] ; let i=index">
                                            <td class="text-left">{{permissions.title}}</td>
                                        </tr>
                                    </table>
                                    <!-- inner table -->
                                </td>
                                <td colspan="6" class="parent-table-td">
                                    <!-- innser table -->
                                    <table class="inner-table" style="text-align: center!important;">
                                        <tr>
                                            <td width="65px" colspan="18" class="td-title border-left">&nbsp;</td>
                                        </tr>
                                        <tr class="text-center"
                                            *ngFor="let permissions of addPermissions['Buying Cycle'] ; let i=index">
                                            <td width="65px" class="border-left">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [(ngModel)]="permissions.view.isActive"
                                                        name="customCheck_view_{{permissions.view.id}}"
                                                        id="customCheck_view_{{permissions.view.id}}">
                                                    <label class="custom-control-label"
                                                        for="customCheck_view_{{permissions.view.id}}"></label>
                                                </div>
                                            </td>
                                            <td width="65px">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [(ngModel)]="permissions.add.isActive"
                                                        name="customCheck_add_{{permissions.add.id}}"
                                                        id="customCheck_add_{{permissions.add.id}}">
                                                    <label class="custom-control-label"
                                                        for="customCheck_add_{{permissions.add.id}}"></label>
                                                </div>
                                            </td>
                                            <td width="65px">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [(ngModel)]="permissions.edit.isActive"
                                                        name="customCheck_edit_{{permissions.edit.id}}"
                                                        id="customCheck_edit_{{permissions.edit.id}}">
                                                    <label class="custom-control-label"
                                                        for="customCheck_edit_{{permissions.edit.id}}"></label>
                                                </div>
                                            </td>
                                            <td width="65px" style="text-align: center!important;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [(ngModel)]="permissions.delete.isActive"
                                                        name="customCheck_delete_{{permissions.delete.id}}"
                                                        id="customCheck_delete_{{permissions.delete.id}}">
                                                    <label class="custom-control-label"
                                                        for="customCheck_delete_{{permissions.delete.id}}"></label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="65px" colspan="18" class="td-title border-left">&nbsp;</td>
                                        </tr>
                                        <tr class="text-center"
                                            *ngFor="let permissions of addPermissions['Selling Cycle'] ; let i=index">
                                            <td width="65px" class="border-left">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [(ngModel)]="permissions.view.isActive"
                                                        name="customCheck_view_{{permissions.view.id}}"
                                                        id="customCheck_view_{{permissions.view.id}}">
                                                    <label class="custom-control-label"
                                                        for="customCheck_view_{{permissions.view.id}}"></label>
                                                </div>
                                            </td>
                                            <td width="65px">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [(ngModel)]="permissions.add.isActive"
                                                        name="customCheck_add_{{permissions.add.id}}"
                                                        id="customCheck_add_{{permissions.add.id}}">
                                                    <label class="custom-control-label"
                                                        for="customCheck_add_{{permissions.add.id}}"></label>
                                                </div>
                                            </td>
                                            <td width="65px">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [(ngModel)]="permissions.edit.isActive"
                                                        name="customCheck_edit_{{permissions.edit.id}}"
                                                        id="customCheck_edit_{{permissions.edit.id}}">
                                                    <label class="custom-control-label"
                                                        for="customCheck_edit_{{permissions.edit.id}}"></label>
                                                </div>
                                            </td>
                                            <td width="65px" style="text-align: center!important;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [(ngModel)]="permissions.delete.isActive"
                                                        name="customCheck_delete_{{permissions.delete.id}}"
                                                        id="customCheck_delete_{{permissions.delete.id}}">
                                                    <label class="custom-control-label"
                                                        for="customCheck_delete_{{permissions.delete.id}}"></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="65px" colspan="18" class="td-title border-left">&nbsp;</td>
                                        </tr>
                                        <tr class="text-center"
                                            *ngFor="let permissions of addPermissions['Administration'] ; let i=index">
                                            <td width="65px" class="border-left">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [(ngModel)]="permissions.view.isActive"
                                                        name="customCheck_view_{{permissions.view.id}}"
                                                        id="customCheck_view_{{permissions.view.id}}">
                                                    <label class="custom-control-label"
                                                        for="customCheck_view_{{permissions.view.id}}"></label>
                                                </div>
                                            </td>
                                            <td width="65px">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [(ngModel)]="permissions.add.isActive"
                                                        name="customCheck_add_{{permissions.add.id}}"
                                                        id="customCheck_add_{{permissions.add.id}}">
                                                    <label class="custom-control-label"
                                                        for="customCheck_add_{{permissions.add.id}}"></label>
                                                </div>
                                            </td>
                                            <td width="65px">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [(ngModel)]="permissions.edit.isActive"
                                                        name="customCheck_edit_{{permissions.edit.id}}"
                                                        id="customCheck_edit_{{permissions.edit.id}}">
                                                    <label class="custom-control-label"
                                                        for="customCheck_edit_{{permissions.edit.id}}"></label>
                                                </div>
                                            </td>
                                            <td width="65px" style="text-align: center!important;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [(ngModel)]="permissions.delete.isActive"
                                                        name="customCheck_delete_{{permissions.delete.id}}"
                                                        id="customCheck_delete_{{permissions.delete.id}}">
                                                    <label class="custom-control-label"
                                                        for="customCheck_delete_{{permissions.delete.id}}"></label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- innser table -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- data table -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer mt-4">
        <button type="submit" class="btn btn-orange d-flex align-items-center px-3 modal-footer-pull-bottom"
            [disabled]="userRoleForm.form.invalid || isSaving">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-save"
                viewBox="0 0 16 16">
                <path
                    d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
            </svg>
            <div class="pl-1">Submit&nbsp;&nbsp;<i *ngIf="isSaving" class="fa fa-spinner fa-spin"
                    style="font-size:18px"></i></div>
        </button>
    </div>
</form>