<div class="property-single" style="margin-top: 10px; margin-left: 5px;">
    <div class="property-info-w">

      <div class="property-info-main" style="padding-top: 10px; padding-bottom: 10px;">
        <!--Start Map-->
        <div class="property-section">
            <div class="property-section-header">Map
              <div class="filter-toggle">
                <i class="os-icon-minus os-icon"></i>
              </div>
            </div>
            <div class="property-section-body">
              <div id="map"></div>
              <!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26466.220546263787!2d-118.35266418131052!3d33.98540355993257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b79824efa317%3A0x29dd07e1734487f2!2sPark+Mesa+Heights%2C+Los+Angeles%2C+CA!5e0!3m2!1sen!2sus!4v1502593931845"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen="">
              </iframe> -->
            </div>
          </div>        

        
      </div>

    </div>

  </div>
