<div class="row">
    <div class="col-sm-8 col-lg-10">
        <div class="input-group version-input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Version</span>
            </div>
            <select class="form-control" [(ngModel)]="selectedVersion.id">
                <option *ngFor="let version of versions" [value]="version.id">
                    {{version.versionName}}
                </option>
            </select>
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary" (click)="showModal(versionModal, selectedVersion.id)">Rename</button>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);" (click)="showModal(deleteConfirmation)">Delete</a>
                </div>
              </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-2 d-flex flex-row-reverse">
        <input type="button" class="btn btn-orange btn-new-version" value="New Version" (click)="showModal(versionModal)"/>
    </div>
</div>
<ng-template #versionModal>
    <div class="modal-header">
        <h5>{{versionForm.header}}</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">
                        Version
                    </label>
                    <input type="text" id="newVersion" class="form-control" [(ngModel)]="versionForm.versionName" placeholder="v1.2.3"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row  d-flex flex-row-reverse">
            <div class="col-sm-6">
                <input type="button" class="btn btn-primary text-right" value="Submit" (click)="versionModalSubmit()" />
            </div>
            <div class="col-sm-6">
                <input type="button" class="btn btn-secondary text-right" value="Cancel" (click)="modalRef.hide()" />
            </div>
        </div>
    </div>
</ng-template>

<ng-template #deleteConfirmation>
	<app-delete 
		[deleteId]="versionForm.id"
		[modalRef]="modalRef"
		header="Delete confirmation"
		text="Are you sure you want to delete this version?"
		(id)="delete()">
        <strong class="text-danger"> All files in this version will be deleted permanently. This action is <u>NOT</u> reversible. </strong>
    </app-delete>
</ng-template>