<div id="main-wrapper" class="oxyy-login-register">
  <div class="container-fluid px-0">
    <div class="row no-gutters min-vh-100"> 
      <!-- OTP Form
      ========================= -->
      <div class="col-md-6 d-flex flex-column order-2 order-md-1">
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto text-center">
              <div class="logo mb-4"> <a href="index.html" title="Oxyy"><img src="assets/img/logo1.png" alt="logo" style="width:200px; height:125px;"></a> </div>
              <h4 class="mb-4">Two-Step Verification</h4>
              <p><img class="img-fluid" src="assets/auth-pages/images/otp-icon.png" alt="verification"></p>
              <p class="text-muted mb-4">Enter the verification code we sent to <br>
                <span class="text-dark text-4">+1*******179</span></p>
              <form id="otp-screen" method="post">
                <div class="form-row">
                  <div class="col form-group">
                    <input type="text" class="form-control text-center text-6 py-2" maxlength="1" required autocomplete="off">
                  </div>
                  <div class="col form-group">
                    <input type="text" class="form-control text-center text-6 py-2" maxlength="1" required autocomplete="off">
                  </div>
                  <div class="col form-group">
                    <input type="text" class="form-control text-center text-6 py-2" maxlength="1" required autocomplete="off">
                  </div>
                  <div class="col form-group">
                    <input type="text" class="form-control text-center text-6 py-2" maxlength="1" required autocomplete="off">
                  </div>
                </div>
                <button class="btn btn-primary btn-block shadow-none my-3" type="submit">Verify</button>
              </form>
              <p class="text-center text-2 text-muted mb-0">Not received your code? <a class="btn-link" href="#">Resend code</a></p>
            </div>
          </div>
        </div>
        <div class="container py-2">
          <p class="text-2 text-muted text-center mb-0">Copyright © 2019 - 2021 <a href="#">Newtium</a>. All Rights Reserved.</p>
        </div>
      </div>
      <!-- OTP Form End --> 
      
      <!-- Welcome Text
      ========================= -->
      <div class="col-md-6 order-1 order-md-2">
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-8 bg-secondary"></div>
          <div class="hero-bg hero-bg-scroll" style="background-image:url('./images/login-bg-2.jpg');"></div>
          <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
            <div class="row no-gutters my-auto py-5">
              <div class="col-10 col-lg-9 mx-auto">
                <p class="text-4 text-white">We are glad to see you again!</p>
                <h1 class="text-10 text-white mb-4">Join our next negotiation group in few minutes!</h1>
                <a class="btn btn-outline-light shadow-none video-btn mt-2" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal" data-target="#videoModal"><span class="mr-2"><i class="fas fa-play-circle"></i></span>Watch demo</a> </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome Text End --> 
    </div>
  </div>
</div>