/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";

.input-error {
  border-color: #dc3545 !important;
}

.toast-info-custom {
  flex-basis: 350px;
  max-width: 350px;
  font-size: 0.875rem;
  background-color: hsla(0, 0%, 100%, 0.85) !important;
  color: black !important;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
  opacity: 0;
  border-radius: 0.25rem;
  margin-top: 50px !important;
}

.pac-container {
  z-index: 10000 !important;
}

#map, #mapEdit {
  height: 100vh;
  border-style: solid;
}
#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}

#mapEdit #infowindow-content {
  display: inline;
}
.timed-activities{
  max-height: 370px; 
  &.scroll{
    overflow-y: scroll;
  }
}
ngx-daterangepicker-material{
  .md-drppicker td.active, .md-drppicker td.active:hover{
      background-color: #046fdf;
      color: #fff;
      border-color: #fff;
  }
  .md-drppicker .ranges ul li button.active{
    background-color: #046fdf;
    color: #fff;
  }
  .md-drppicker td.available:hover, .md-drppicker th.available:hover{
    background-color: #1a88fb;
    color: #fff;
  }
  .md-drppicker th.month{
    color: #047bf8;
  }
  .md-drppicker .clear{
    background-color: #046fdf !important;
    color: #fff !important;
  }
  .md-drppicker .btn, .md-drppicker .btn:focus, .md-drppicker .btn:hover{
    background-color: #046fdf;
  }
  .md-drppicker .clear svg{
    padding-bottom: 10px;
  }
}

