  <!--------------------
          START - Top Bar
          -------------------->
          <div class="top-bar color-scheme-light">
            <ul>
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Projects</a>
              </li>
              <li>
                <a href="#">Customers</a>
              </li>
              <li>
                <a href="#">Reports</a>
              </li>
            </ul>
          
          </div>
          <!--------------------
          END - Top Bar
          -------------------->