.inventory-control-true{
    display: none;
}

.margin-right {
    margin-right:10px;
}

.modal-body{
    &.inventory-false{
        .project-form-control-container{
            display: none;
        }
    }
}