<div id="main-wrapper" class="oxyy-login-register">
  <div class="container-fluid px-0">
    <div class="row no-gutters min-vh-100">
      <!-- Login Form
      ========================= -->
      <div class="col-md-6 d-flex flex-column order-2 order-md-1">
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto text-center">
              <div class="logo mb-4"> <a title="Oxyy"><img src="assets/img/logo.png" alt="logo"
                    style="width:100px; height:70px;"></a> </div>
              <form id="loginForm" role="form" (ngSubmit)="login()" novalidate #loginForm="ngForm">
                <div class="vertical-input-group">
                  <div class="input-group">
                    <input type="email" class="form-control" id="emailAddress" name="emailAddress" required autofocus="true"
                      placeholder="Email or Username" pattern="^\w+([-+.'#\w+])*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
                      [ngClass]="{'input-error':(emailAddr.touched && emailAddr.errors?.required)}" [(ngModel)]="email"
                      #emailAddr="ngModel">
                  </div>
                  <div class="input-group">
                    <input type="password" class="form-control" id="loginPassword" name="loginPassword" required
                      [ngClass]="{'input-error':(passwordInput.touched && passwordInput.errors?.required)}"
                      placeholder="Password" [(ngModel)]="password" #passwordInput="ngModel">
                  </div>
                </div>
                <div *ngIf="emailAddr.invalid && (emailAddr.dirty || emailAddr.touched)">
                  <small class="form-text text-danger" *ngIf="emailAddr.errors?.pattern">
                    Invalid email address.
                  </small>
                </div>
                <div>
                  <p class="mt-2 ml-4 text-danger"><strong>{{errorMsg}}</strong></p>
                </div>
                <button class="btn btn-primary btn-block shadow-none my-4"
                  [ngStyle]="{'cursor': loginForm.form.invalid || isSaving? 'not-allowed' : 'pointer' }" type=" submit"
                  [disabled]="loginForm.form.invalid || isSaving">Sign In&nbsp;&nbsp;<i *ngIf="isSaving"
                    class="fa fa-spinner fa-spin" style="font-size:18px"></i></button>
              </form>
              <a class="btn-link text-2" routerLink="/forgot-password">Forgot Password?</a>
              <div class="d-flex align-items-center my-2">
                <hr class="flex-grow-1">
                <span class="mx-2 text-2 text-muted">OR</span>
                <hr class="flex-grow-1">
              </div>
              <div class="d-flex  flex-column align-items-center mb-4">
                <ul class="social-icons social-icons-circle">
                  <li class="social-icons-facebook"><a href="#" data-toggle="tooltip"
                      data-original-title="Log In with Facebook"><i class="fab fa-facebook-f"></i></a></li>
                  <li class="social-icons-google"><a href="#" data-toggle="tooltip"
                      data-original-title="Log In with Google"><i class="fab fa-google"></i></a></li>
                  <li class="social-icons-linkedin"><a href="#" data-toggle="tooltip"
                      data-original-title="Log In with Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>              
            </div>
          </div>
        </div>
        <div class="container py-2">
          <p class="text-2 text-muted text-center mb-0">Copyright © 2022 <a
              href="https://app.scolptio.com">Scolptio Designs Customer Portal</a>. All Rights
            Reserved.</p>
        </div>
      </div>
      <!-- Login Form End -->

      <!-- Welcome Text
      ========================= -->
      <div class="col-md-6 order-1 order-md-2">
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-8 bg-secondary"></div>
          <div class="hero-bg hero-bg-scroll"
            style="background-image:url('./assets/auth-pages/images/20.jpg');"></div>
          <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
            <div class="row no-gutters my-auto py-5">
              <div class="col-10 col-lg-9 mx-auto">
                <p class="text-4 text-white">Welcome Back!</p>
                <h1 class="text-10 text-white mb-4">Managing your construction Clients and Projects has never been easier.</h1>
                <a class="btn btn-outline-light shadow-none video-btn mt-2" href="#"
                  data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal"
                  data-target="#videoModal"><span class="mr-2"><i class="fas fa-play-circle"></i></span>Watch demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome Text End -->
    </div>
  </div>
</div>